{% extends "crush_connector/index.django" %}

{% block content %}
<div class="row">
<div class="span6">
<h1> what is this</h1>
<p>MIT Crush is a way to confess your crush to that friend that you want to be more than friends with. The beauty of MIT Crush, however, is that you and said friend will only be notified if the crush is mutual. Once a connection is made, both people are sent an email with the name of the mutual crush. If a crush is not mutual, no email is ever sent. </p>
<img src="/static/img/MITCrushLogo.png">
</div>
<div class="span6">
<h1>find a crush</h1>
<form action="https://crush.mit.edu:444/submit/" class="well" method="post" id="vent-form">


{{form.as_p}}

<!--
    <div class="fieldWrapper">
        {{ form.Crush_email_1.errors }}
        <label for="id_subject">crush email one</label>
        {{ form.Crush_email_1 }}
    </div>
    <div class="fieldWrapper">
        {{ form.Crush_email_2.errors }}
        <label for="id_message">crush email two</label>
        {{ form.Crush_email_2 }}
    </div>
    <div class="fieldWrapper">
        {{ form.Crush_email_3.errors }}
        <label for="id_sender">crush email 3</label>
        {{ form.Crush_email_3 }}
    </div>
!-->



  <input type="submit" class="btn btn-primary" value="Submit crushes" id="crush-submitt"/>
</form>
</div>
</div>
<style media="screen" type="text/css">
    .defaultTextActive { color: #a1a1a1; font-style: italic; }
</style>
<script>
//Make default text fields empty
$('#vent-form').submit(function() {
if ($("#id_Crush_email_1").val() == "Start by typing a name or email"){
$("#id_Crush_email_1").val("");
}
if ($("#id_Crush_email_2").val() == "Start by typing a name or email"){
$("#id_Crush_email_2").val("");
}
if ($("#id_Crush_email_3").val() == "Start by typing a name or email"){
$("#id_Crush_email_3").val("");
}
});
$(document).ready(function()
{
    $("#id_Crush_email_1").addClass("defaultTextActive");
    $("#id_Crush_email_2").addClass("defaultTextActive");
    $("#id_Crush_email_3").addClass("defaultTextActive");
    $("#id_Crush_email_1").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].value)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });
    
    $("#id_Crush_email_1").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].value);
        }
    });
    
    $("#id_Crush_email_1").blur();

$("#id_Crush_email_2").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].value)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });

    $("#id_Crush_email_2").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].value);
        }
    });

    $("#id_Crush_email_2").blur();

});

$("#id_Crush_email_3").focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].value)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });

    $("#id_Crush_email_3").blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].value);
        }
    });

    $("#id_Crush_email_3").blur();

$.getJSON("/names/", function(data){
alert("hey");
$("#id_Crush_email_1").autocomplete({autoFocus: true, delay: 1, source: function(request, response){
var results = $.ui.autocomplete.filter(data, request.term);
response(data.slice(0, 10));
}});
$("#id_Crush_email_2").autocomplete({autoFocus: true, delay: 1, source: function(request, response){
var results = $.ui.autocomplete.filter(data, request.term);
response(results.slice(0, 10));
}});
$("#id_Crush_email_3").autocomplete({autoFocus: true, delay: 1, source: function(request, response){
var results = $.ui.autocomplete.filter(data, request.term);
response(results.slice(0, 10));
}});
});

</script>
{% endblock %}

