{% extends "crush_connector/index.django" %}

{% block content %}
<script>
/*if (location.protocol == "https:"){
window.location = "http://crush.mit.edu";
}*/
</script>
<div class="row">
<div class="span6">
<h1> what is this</h1>
<p>Have your eye on someone special? Unsure of how the person feels about you, but not ready to ask them out? Write your crushes here to find out if they like you! If you and your crush list each other, we’ll email both of you. If not, nobody will ever know. Seeing if someone likes you has never been easier!</p>
<p>
If none of your crushes work out, you can always come back in two weeks and try again, either with the same people or new ones. Don’t let that special someone get away!
</p>
<img src="/static/img/MITCrushLogo.png">
</div>
<div class="span6">
<h1>find a crush</h1>
<form action="https://crush.mit.edu:444/submit/" class="well" method="post" id="vent-form">


{{form.as_p}}

<!--
    <div class="fieldWrapper">
        {{ form.Crush_email_1.errors }}
        <label for="id_subject">crush email one</label>
        {{ form.Crush_email_1 }}
    </div>
    <div class="fieldWrapper">
        {{ form.Crush_email_2.errors }}
        <label for="id_message">crush email two</label>
        {{ form.Crush_email_2 }}
    </div>
    <div class="fieldWrapper">
        {{ form.Crush_email_3.errors }}
        <label for="id_sender">crush email 3</label>
        {{ form.Crush_email_3 }}
    </div>
!-->



  <input type="submit" class="btn btn-primary" value="Submit crushes" id="crush-submitt"/>
</form>
</div>
</div>
<style media="screen" type="text/css">
    .defaultTextActive { color: #a1a1a1; font-style: italic; }
</style>
<script>

var class_prefix = "#id_Crush_email_";
var num_fields = 3;

//Make default text fields empty
$('#vent-form').submit(function() {
  for (var num = 1; num <= num_fields; ++num) {
    if ($(class_prefix + num).val() == "Start by typing a name or email"){
      $(class_prefix + num).val("");
    }    
  }
});

$(document).ready(function()
{
  for (var num = 1; num <= num_fields; ++num) {
    $(class_prefix + num).addClass("defaultTextActive");
    $(class_prefix + num).focus(function(srcc)
    {
        if ($(this).val() == $(this)[0].value)
        {
            $(this).removeClass("defaultTextActive");
            $(this).val("");
        }
    });
    
    $(class_prefix + num).blur(function()
    {
        if ($(this).val() == "")
        {
            $(this).addClass("defaultTextActive");
            $(this).val($(this)[0].value);
        }
    });
    
    $(class_prefix + num).blur();
  }

  //do manual searches before all the usernames are loaded
  for (var num = 1; num <= num_fields; ++num) {
    $(class_prefix + num).autocomplete({autoFocus: true, delay: 1, source: function(request, response){
      $.getJSON("/getlabels/",
        request,
        function(data) {
          response(data.slice(0, 10));
        }
      );
    }});
  }
  //load all the usernames
  $.get("/names/", function(data){
    data = JSON.parse(data);
    for (var num = 1; num <= num_fields; ++num) {
      $(class_prefix + num).autocomplete({autoFocus: true, delay: 1, source: function(request, response){
        var results = $.ui.autocomplete.filter(data, request.term);
        response(results.slice(0, 10));
      }});
    }
  });
});

</script>
{% endblock %}

