{% extends "crush_connector/index.django" %}

{% block content %}
<div class="row">
  <div class="span6">
    <h1>Too many crushes!</h1>
    <p> Whoa there, you sure like a lot of people!</p>
    <p>You've already used {{ num_used }} crushes, and you're allowed up to {{ num_allowed }} in total.<br />
      Go back and make sure you submit no more than {{ num_left }}.</p>

    <p> You're allowed to replace these with {{ num_allowed }} new crushes every two weeks, so come back on <b>{{ refresh_date }}</b> and send in more!</p>

  </div>
  <div class ="span6">
    <img src="/static/img/MITCrushLogo.png">
  </div>
</div>
{% endblock %}

{% block tips %}
{% endblock %}

