{% extends "crush_connector/index.django" %}

{% block content %}
<div class="row">
  <div class="span6">
    <h1>Too many crushes!</h1>
    <p> Whoa there, you sure do like a lot of people! You've already used {{ num_used }} crushes, and you're allowed up to {{ num_allowed }}. Go back and make sure you submit no more than {{ num_left }}.</p>

    <p>Crushes you've already submitted:
      <ul>
	{% for crush in crushees %}
	  <li>{{ crush.name }} - {{ crush.email }}</li>
	{% endfor %}
      </ul>
    </p>

    <p> You're allowed to submit new crushes every two weeks, so come back on <b>{{ refresh_date }}</b> and send in more!</p>
  </div>
  <div class ="span6">
    <img src="/static/img/MITCrushLogo.png">
  </div>
</div>
{% endblock %}

{% block tips %}
{% endblock %}

