{% extends "crush_connector/index.django" %}

{% block content %}
<div class="row">
  <div class="span6">
    <h1> congratulations!</h1>
    <p> You have successfully submitted a crush. If one of your crushes has already submitted a crush on you, you should both receive an email very shortly. If not, you'll just have to sit tight until one of them submits a crush on you. Want to increase the chance of this happening? Then spread the word about MIT Crush.</p>
  </div>
  <div class ="span6">
    <img src="/static/img/MITCrushLogo.png">
  </div>
</div>
{% endblock %}

{% block tips %}
{% endblock %}

